<div class="tabla">
  <div fxFlex="100%" fxFlexFill>
    <button mat-raised-button color="primary" (click)="openDialogNewCategory()">New Category</button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlexFill>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="openDialogEditCategory(element)">Edit</button>
          <button mat-raised-button color="danger" (click)="openDialogDeleteCategory(element)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>