<div class="dialog">
  <div fxLayout="column" fFlexFill>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" [(ngModel)]="user.name">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [(ngModel)]="user.email">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password" [(ngModel)]="password">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="City" [(ngModel)]="user.city"></textarea>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Language" [(ngModel)]="user.language"></textarea>
    </mat-form-field>
    <br />
    <h4>Role</h4>

    <mat-form-field class="w-100">
      <mat-select placeholder="User role" [(value)]="roleSelected" name="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <button mat-raised-button color="primary" (click)="updateProfile()">Edit</button>
  </div>