<div fxLayout="column" fFlexFill>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" [(ngModel)]="user.name">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [(ngModel)]="user.email">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [(ngModel)]="user.password">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Phone" [(ngModel)]="user.phone"></textarea>
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" (click)="editUser()">Edit</button>
  </div>