<h1 mat-dialog-title>
  <ng-template [ngIf]="!edit">New</ng-template>
  <ng-template [ngIf]="edit">Edit</ng-template> Badge
</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!edit;else edit_form">
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around">
    <mat-form-field class="w-100">
      <input matInput placeholder="Name" type="text" [formControl]="form.controls['name']" required>
    </mat-form-field>
    <mat-form-field class="w-50">
      <input matInput placeholder="Points" type="number" [formControl]="form.controls['points']" required>
    </mat-form-field>
    <mat-form-field class="w-100">
      <textarea matInput placeholder="Description" type="text" [formControl]="form.controls['description']" required></textarea>
    </mat-form-field>
    <div class="w-100">
      Icon
      <a mat-stroked-button (click)="fileInput.click()" class="w-100 dragNdrop">
        Drag your icon here or click in this area
        <input mat-stroked-button #fileInput type="file" (change)="upload($event)" />
      </a>
      <div fxLayout="row wrap" fxLayoutGap="2px">
        <img [src]="urlImage" alt="" width="50px" *ngIf="urlImage">
      </div>
    </div>
    <mat-form-field>
      <mat-select placeholder="POIs" [formControl]="form.controls['pois']" multiple>
        <mat-option *ngFor="let poi of allPois" [value]="poi.id">{{poi.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-around">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Add</button>
  </div>
</form>
<ng-template #edit_form>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around">
      <mat-form-field class="w-100">
        <input matInput placeholder="Name" type="text" [formControl]="form.controls['name']" required>
      </mat-form-field>
      <mat-form-field class="w-50">
        <input matInput placeholder="Points" type="number" [formControl]="form.controls['points']" required>
      </mat-form-field>
      <mat-form-field class="w-100">
        <textarea matInput placeholder="Description" type="text" [formControl]="form.controls['description']" required></textarea>
      </mat-form-field>
      <div class="w-100">
        Icon
        <a mat-stroked-button (click)="fileInput.click()" class="w-100 dragNdrop">
          Drag your icon here or click in this area
          <input mat-stroked-button #fileInput type="file" (change)="upload($event)" />
        </a>
        <div fxLayout="row wrap" fxLayoutGap="2px">
          <img [src]="urlImage" alt="" width="50px">
        </div>
      </div>
      <mat-form-field>
        <mat-select placeholder="POIs" [formControl]="form.controls['pois']" multiple>
          <mat-option *ngFor="let poi of allPois" [value]="poi.id">{{poi.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-around">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Edit</button>
    </div>
  </form>
</ng-template>