<h1 mat-dialog-title>New Badge</h1>
<form [formGroup]="form" [formGroup]="coordinatesForm" (ngSubmit)="addBadge()">
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around">
    <mat-form-field class="w-100">
      <input matInput placeholder="Name" type="text" [formControl]="form.controls['name']" required>
    </mat-form-field>
    <mat-form-field class="w-50">
      <input matInput placeholder="Points" type="number" [formControl]="form.controls['points']" required>
    </mat-form-field>
    <mat-form-field class="w-100">
      <textarea matInput placeholder="Description" type="text" [formControl]="form.controls['description']" required></textarea>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Icon" type="text" [formControl]="form.controls['icon']" required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-around">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Add</button>
  </div>
</form>