.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

input[type=file] {
    cursor: pointer;
    height: 34px;
    overflow: hidden;
  }
  
  input[type=file]:before {
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    content: 'Select your file';
    display: inline-block;
    background: white;
    border: 1px solid #000;
    padding: 0 10px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  input[type=file] {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .DragAndDrop.title{
      margin: 0;
  }

  .dragNdrop {
      .mat-icon {
          float: left;
      }
  }