<h1 mat-dialog-title>New User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around">
    <mat-form-field class="w-100">
      <input matInput placeholder="Email" type="email" [formControl]="form.controls['email']" >
    </mat-form-field>

    <mat-form-field class="w-100">
      <input matInput  placeholder="Password" name="password" id="password" [formControl]="form.controls['password']" [type]="hide ? 'password' : 'text'" [(ngModel)]="passGenerada">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input  matInput placeholder="Confirm password" name="passwordDos" 
      [type]="hideDos ? 'password' : 'text'" [formControl]="form.controls['confirmPassword']"
      type="${password}" [(ngModel)]="passGeneradaDos" id="passwordDos">
      <mat-icon matSuffix (click)="hideDos = !hideDos">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Name" type="text" [formControl]="form.controls['name']">
    </mat-form-field>
    <h4>Role</h4>

    <mat-form-field class="w-100">
      <mat-select placeholder="User role" [formControl]="form.controls['role']" [(value)]="roleSelected" name="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4>Country</h4>

    <mat-form-field class="w-100">
      <mat-select placeholder="Country" [formControl]="form.controls['country']"  name="country">
        <mat-option *ngFor="let country of countries" [value]="country.name">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <h4 class="w-100">Language</h4>

    <mat-form-field  class="w-100">
      <select matNativeControl  [formControl]="form.controls['language']">
        <option value="SPANISH">Spanish</option>
        <option value="ENGLISH" selected>English</option>
        <option value="FRENCH">French</option>
        <option value="BASQUE">Basque</option>
      </select>
    </mat-form-field>

  </div>
  <div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-around">
    <!--<button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Añadir</button>-->
    <button mat-raised-button color="primary" fxFlex="50%" mat-dialog-close [disabled]="!form.valid">ADD</button>
  </div>
</form>
