#container {
    height: 100vh;
    width: 100%;
    z-index: 9999999999;
}

#fondo {
    background-image: url('../../../assets/images/login_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#fondo:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(149, 33, 33, 0.452), rgba(224, 32, 32, 0.616));
  }


#container {
    background-color: #ddd;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2);
    }
}

.btn-email {
    color: #fff;
    background-color: #2672ec;
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}