<div fxLayout="column" fFlexFill>
  <form [formGroup]="form" (ngSubmit)="addCategory()">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" [(ngModel)]="name" [formControl]="form.controls['name']">
  </mat-form-field>
  <small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="mat-text-warn">'Name' is required</small>
  <br/>
  <mat-select placeholder="Categories" [formControl]="form.controls['categories']" [value]="categorySelected" multiple>
    <mat-option *ngFor="let c of allCategories.rows" [value]="c.id">
      {{c.name}}
    </mat-option>
  </mat-select>
  <button mat-raised-button color="primary" [disabled]="!form.valid" >Save</button>
  </form>
  </div>