<div fxLayout="column" fFlexFill>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" [(ngModel)]="name" [formControl]="form.controls['name']">
  </mat-form-field>
  <small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="mat-text-warn">'Name' is required</small>
  <br/>
  <mat-select placeholder="Categoría" [formControl]="categoriesControl" [value]="categorySelected">
    <mat-option *ngFor="let category of categories" [value]="category.id">
      {{category.name}}
    </mat-option>
  </mat-select>
  <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="addCategory()">Save</button>
  </div>