<div class="dialog">
  <h3>Are you sure you want to delete this badge?</h3>
  <h5>Badge Name: {{elementName}}</h5>
  <div class="checkbox-container">
    <mat-checkbox [(ngModel)]="checkedRobot"><span>Click to confirm you are not a robot.</span></mat-checkbox>
  </div>
  <div class="button-container">
    <button mat-raised-button color="accent" (click)="delete()" [disabled]="!captcha()">
      <mat-icon>delete_forever</mat-icon>DELETE
    </button>
    <button mat-raised-button color="accent" (click)="close()">CANCEL</button>
  </div>
</div>