.white{
    background-color: white;
}
img {
    border-radius: 50%;
    width: 40px;
  }
.container{
    width: 100vh;
}
#titleTable{
    padding-bottom: 10px;
}
#selectFilter{
    margin-left: 47%;
}