/* You can add global styles to this file, and also import other style files */
@import "_colors.scss";
@font-face {
    font-family: 'InterUI';
    src: url('/src/assets/fonts/brelaregular.otf');
}

html, body, * {
    font-family: InterUI;
    background-color: var(--color-primary-light);
}