<form [formGroup]="form" [formGroup]="coordinatesForm" (ngSubmit)="onSubmit()">
  <div id="container" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="5%">
    <mat-card fxLayout.gt-md="row" fxLayout="column" fxFlex.gt-sm="80" fxFlex="100" fxLayoutGap="2%">
      <div fxFlex.gt-md="50" fxFlex="100" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="5%">
        <div>
          <!-- Subir archivos -->
          <a mat-stroked-button (click)="fileInput.click()" class="w-100">
            <input mat-stroked-button #fileInput type="file" (change)="upload($event)" multiple />
            <mat-icon>library_add</mat-icon>
            <span> Upload images</span>
          </a>
          <!-- <input type="file" name="photo" (change)="upload($event)" multiple accept="image/*" /> -->
          <div fxLayout="row wrap" fxLayoutGap="2px">
            <img *ngFor="let i of urlImage" [src]="i" alt="" width="150px">
          </div>
        </div>
        <!-- Coordenadas google maps  -->
        <div>
          <mat-form-field class="w-100">
            <input matInput ngx-google-places-autocomplete type="text" placeholder="Site name"
              #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
          </mat-form-field>
        </div>
        <!-- <agm-map [latitude]="poi.coordinates.lat" [longitude]="poi.coordinates.lng" [zoom]="16">
          <agm-marker [latitude]="poi.coordinates.lat" [longitude]="poi.coordinates.lng"></agm-marker>
        </agm-map> -->
      </div>
      <div fxFlex.gt-md="50" fxFlex="100">
        <mat-form-field class="w-100">
          <input matInput placeholder="Name" type="text" [formControl]="form.controls['name']" required>
        </mat-form-field>
        <hr>
        <!-- Categorías -->
        <!--  -->
        <!-- Autor/Anyo -->
        <mat-form-field class="w-50">
          <input matInput placeholder="Autor" type="text" [formControl]="form.controls['creator']">
        </mat-form-field>
        <mat-form-field class="w-50">
          <input matInput placeholder="Year" type="number" [formControl]="form.controls['year']" required>
        </mat-form-field>
        <!-- Descripción con librería -->
        <quill-editor [formControl]="form.controls['description']"></quill-editor>
      </div>
    </mat-card>
    <div fxLayout="column" fxLayoutGap="5%" fxFlex.gt-sm="20" fxFlex="100">
      <mat-card>
        <!-- Precio, estado, horarios -->
        <mat-form-field class="w-50">
          <input matInput placeholder="price" type="number" [formControl]="form.controls['price']">
        </mat-form-field>
        <mat-form-field class="w-50">
          <input matInput placeholder="status" type="text" [formControl]="form.controls['status']" required>
        </mat-form-field>
        <mat-form-field class="w-100">
          <textarea matInput placeholder="schedule" type="text" [formControl]="form.controls['schedule']" required></textarea>
        </mat-form-field>
      </mat-card>
      <mat-card>
        <h3>Audioguides</h3>
        <!-- Upload autoguides -->
        <!--  -->
      </mat-card>
    </div>
  </div>
</form>