.example-card {
    max-width: 275px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-card-actions .mat-icon {
    line-height: 36px;
}