.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

#addFloatingButton {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 9999999;
  background-color: var(--color-primary-dark);

  .mat-icon {
    color: white;
  }
}

audio {
  width: 100%;
}

#uploadContent {
  height: 125px;
  border: 4px dashed #000;

  p {
    text-align: center;
    margin-top: -70px;
  }

  input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    background-color: red;
    cursor: pointer;
  }
}


  .imgButtonDelete {
    position: absolute;
    top: 15%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
  }

.radio-item {
  display: none !important;
}
label {
  cursor: pointer;   
  display: inline-block;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 150px;
  height: 100px;
}
.radio-item:checked + label {
  outline: 2px orange solid;
  opacity: 1;
}



